body{
    text-align: center;
}

article {
    display: none;
}

#home {
    display: block;
}

/* NAV BAR */
nav {
    background-color: rgb(150, 150, 150);
    border: solid 1px dimgray;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    align-content: center;
    display: inline-block;
}

nav a:hover{
    background-color: dimgrey;
}

nav a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

/* INDEX */

/** TABLES **/

/** BUTTONS **/

/* EDIT / CREATE */

/** BUTTONS **/

/** FIELDS **/
